


body{
    background-color: rgb(255, 255, 255);
    
}
.svg1{
    position: absolute;
    right: 88%;
    top: 3%;
}
.img1{
    border-radius: 10px;
    text-align: center;
    margin-left: 30%;
    margin-top: 50%;

}
.text{
    border: solid;
    border-radius: 10px;
    background-color: rgb(15, 180, 131);
    color: white;
    font-size: 10px;
    font-family: "poppins",sans-serif;
    font-weight:100;
    height: 60px;
}
h2{
    padding-top: 10px;
    padding-left: 10px;
}
.textrow{
    margin-top: 40%;
}

